<html>
    <head>
        <title>The Crossroads</title>
        <link rel="stylesheet" type="text/css" href="../../../static/css/main.css" />
    </head>

    <body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h1>The Crossroads</h1>
    </header>

    <main>
        <section>
            <header>Pick the path...</header>
            <main id="crossroad-links">
                <a href="#">Price calculation</a>
                <a href="#">About</a>
            </main>
        </section>
    </main>

    <footer>

    </footer>
    </body>
</html>
