<!DOCTYPE html>

<html>
    <head>
        <title>Calculations crossroad</title>
        <link rel="stylesheet" type="text/css" href="../../../static/css/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../../../static/js/main.js"></script>
    </head>

    <body>
	    <header>
	        <h1>Calculations crossroad</h1>
	    </header>
	
	    <main>
	        <section>
	            <header>Choose the path ..</header>
	            <main id="crossroad-links">
		            <nav>
		            	<ul>
		            		<li><a href="ride-cost.html">Ride cost</a></li>
		            		<li><a href="index.html">Home</a></li>
		            	</ul>
		            </nav>
	            </main>
	        </section>
	    </main>
	
	    <footer>
			Development by Marek Simon @ SimSoft | &copy; 2018
	    </footer>
    </body>
</html>
