body {
    background-color: rgba(255,253,140,0.45);
    width: 100%;
    margin: 0;
}

/******************/
/* HEADER SECTION */
/******************/
header {
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0 10px;
    display: inline;
    font-size: 0.8em;
}
a {
    color: black;
    text-decoration: none;
}
/****************/
/* MAIN SECTION */
/****************/
main {
    padding: 20px 0;
}
main section {

}
#crossroad-links a {
    display: block;
    font-size: 1.5em;
}